<!DOCTYPE html>
        }

        input, select{
            width:100%;
            padding:15px;
            margin-top:12px;
            border-radius:16px;
            border:none;
            background:#f1f5f9;
            font-size:16px;
            font-family:'Poppins', sans-serif;
        }

        button{
            width:100%;
            padding:16px;
            margin-top:20px;
            background:linear-gradient(135deg,#3b82f6,#2563eb);
            color:white;
            border:none;
            border-radius:18px;
            font-size:17px;
            font-weight:600;
            cursor:pointer;
        }

    </style>

</head>

<body>

<div class="card">

<h2>Edit Expense</h2>

<form method="POST">

    {% csrf_token %}

    <select name="person">

        <option value="Dad"
        {% if expense.person == 'Dad' %}selected{% endif %}>
        Dad
        </option>

        <option value="Mom"
        {% if expense.person == 'Mom' %}selected{% endif %}>
        Mom
        </option>

    </select>

    <select name="category">

        {% for category in categories %}

        <option value="{{ category.id }}"
        {% if expense.category.id == category.id %}selected{% endif %}>
        {{ category.name }}
        </option>

        {% endfor %}

    </select>

    <input type="number"
           step="0.01"
           name="amount"
           value="{{ expense.amount }}">

    <input type="text"
           name="note"
           value="{{ expense.note }}">

    <button type="submit">
        Update Expense
    </button>

</form>

</div>

</body>
</html>